<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="TCProGet" value="https://proget.tcdevops.com/nuget/tcproget/" />
    <add key="TC.Nuget" value="https://proget.tcdevops.com/nuget/nuget/v3/index.json" />
  </packageSources>
</configuration>
